<%- include('./partials/header.ejs') %>
<main>
    <h1><%= user.firstName %> <%= user.lastName %>'s Profile</h1>
    <p>Email: <%= user.email %></p>
    <h2>Trades:</h2>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Details</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% trades.forEach(trade => { %>
            <tr>
                <td><%= trade.name %></td>
                <td><%= trade.category %></td>
                <td><%= trade.details %></td>
                <td>
                    <% if (trade.offers && trade.offers.length > 0) { %>
                        <% trade.offers.forEach(offer => { %>
                            Offered by: <%= offer.offeredBy.firstName %> <%= offer.offeredBy.lastName %> <br>
                            Offered item: <%= offer.offeredItem.name %> <br>
                            <form action="/trades/<%= trade._id %>/offers/<%= offer._id %>/accept" method="post">
                                <button type="submit" class="btn btn-success">Accept</button>
                            </form>
                            <form action="/trades/<%= trade._id %>/offers/<%= offer._id %>/decline" method="post">
                                <button type="submit" class="btn btn-danger">Decline</button>
                            </form>
                        <% }) %>
                    <% } else { %>
                        No offers
                    <% } %>
                    <% if (trade.offeredBy && trade.offeredBy.toString() === currentUser._id.toString()) { %>
                        <form action="/trades/<%= trade._id %>/offer" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-warning">Cancel Offer</button>
                        </form>
                    <% } %>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>
    <h2>Watchlist:</h2>
    <ul>
        <% watchlist.forEach(trade => { %>
            <li>
                <a href="/trades/<%= trade._id %>"><%= trade.name %></a> by <%= trade.user ? trade.user.firstName : 'Pre-defined_un-login' %> <%= trade.user ? trade.user.lastName : 'User' %>
            </li>
        <% }) %>
    </ul>
    <form action="/logout" method="POST">
        <input type="submit" value="Log Out">
    </form>
</main>
<%- include('./partials/footer.ejs') %>
